.inputTestWrapper{
    
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
          background:transparent;
        }
      .error{
          border:1px solid red;
        }
  
      
    
